In [16]:
import pandas as pd

In [17]:
df_train = pd.read_csv(r"C:\Users\derek.filko\DataspellProjects\Kaggle\Store Sales\data\train.csv", index_col=0)
df_test = pd.read_csv(r"C:\Users\derek.filko\DataspellProjects\Kaggle\Store Sales\data\test.csv", index_col=0)
df_transactions = pd.read_csv(r"C:\Users\derek.filko\DataspellProjects\Kaggle\Store Sales\data\transactions.csv")
df_stores = pd.read_csv(r"C:\Users\derek.filko\DataspellProjects\Kaggle\Store Sales\data\stores.csv")
df_holidays = pd.read_csv(r"C:\Users\derek.filko\DataspellProjects\Kaggle\Store Sales\data\holidays_events.csv")
df_oil = pd.read_csv(r"C:\Users\derek.filko\DataspellProjects\Kaggle\Store Sales\data\oil.csv")

In [18]:
df_oil['date'] = df_oil['date'].astype("datetime64")
df_date = pd.DataFrame(pd.date_range("2013-01-01", "2017-08-31"), columns=["date"])
df_oil = df_date.merge(df_oil, left_on='date', right_on='date', how='left').fillna(method='ffill').fillna(method='bfill')
df_all = pd.concat([df_train, df_test], ignore_index=True)
df_all = df_all.merge(df_stores, left_on="store_nbr", right_on="store_nbr", how="left")
df_holidays = df_holidays.rename(columns={"type": "Holiday_type"})
df_all = df_all.merge(df_holidays, left_on="date", right_on="date", how="left")
df_all = df_all.merge(df_transactions, left_on=["date", "store_nbr"], right_on=["date", "store_nbr"], how="left")
df_all["date"] = df_all["date"].astype("datetime64")
df_all = df_all.merge(df_oil, left_on="date", right_on="date", how="left")
df_all = df_all.replace(",", "_", regex=True)
df_all = df_all.rename(columns={"date": "Date"})

In [19]:
df_all

,Date,store_nbr,family,sales,onpromotion,city,state,type,cluster,Holiday_type,locale,locale_name,description,transferred,transactions,dcoilwtico
0,2013-01-01,1,AUTOMOTIVE,0.0,0,Quito,Pichincha,D,13,Holiday,National,Ecuador,Primer dia del ano,False,NaN,93.14
1,2013-01-01,1,BABY CARE,0.0,0,Quito,Pichincha,D,13,Holiday,National,Ecuador,Primer dia del ano,False,NaN,93.14
2,2013-01-01,1,BEAUTY,0.0,0,Quito,Pichincha,D,13,Holiday,National,Ecuador,Primer dia del ano,False,NaN,93.14
3,2013-01-01,1,BEVERAGES,0.0,0,Quito,Pichincha,D,13,Holiday,National,Ecuador,Primer dia del ano,False,NaN,93.14
4,2013-01-01,1,BOOKS,0.0,0,Quito,Pichincha,D,13,Holiday,National,Ecuador,Primer dia del ano,False,NaN,93.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3082855,2017-08-31,9,POULTRY,NaN,1,Quito,Pichincha,B,6,NaN,NaN,NaN,NaN,NaN,NaN,47.26
3082856,2017-08-31,9,PREPARED FOODS,NaN,0,Quito,Pichincha,B,6,NaN,NaN,NaN,NaN,NaN,NaN,47.26
3082857,2017-08-31,9,PRODUCE,NaN,1,Quito,Pichincha,B,6,NaN,NaN,NaN,NaN,NaN,NaN,47.26
3082858,2017-08-31,9,SCHOOL AND OFFICE SUPPLIES,NaN,9,Quito,Pichincha,B,6,NaN,NaN,NaN,NaN,NaN,NaN,47.26
3082859,2017-08-31,9,SEAFOOD,NaN,0,Quito,Pichincha,B,6,NaN,NaN,NaN,NaN,NaN,NaN,47.26